.toolbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10px;
  top: 10px;
  background: transparent;
  padding: 10px;
  border-radius: 8px;
  border: 0.5px solid rgba(102, 102, 102, 0.3);
}

.toolbar button {
  margin: 5px 0;
  padding: 10px;
  background: transparent;
  color: rgb(186, 186, 186);
  border: 0.5px solid rgba(102, 102, 102, 0.3);
  border-radius: 4px;
  cursor: pointer;
}

.toolbar button:hover {
  background: #777;
}

.extendedToolbar {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.colorPicker {
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
